@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Lato:wght@700&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  background: var(--cor-fundo);

  --fonte-titulo: "Lato", sans-serif;
  --fonte-texto: "Kalam", cursive;
  
  --cor-principal: #112D4E;
  --cor-secundaria: #3F72AF;
  --cor-tercearia: #DBE2EF;
  --cor-fonte: #F9F7F7;
  --cor-preto: #000000;
  /* --cor-fundo: linear-gradient(290deg, var(--cor-principal) 0%, var(--cor-secundaria) 70%); */
  --cor-fundo: linear-gradient(to bottom, var(--cor-secundaria) 70%, var(--cor-principal));
}

body {
  display: flex;
  min-height: 100vh;
}

header {
  min-height: 100vh;
  background: var(--cor-principal);
  text-align: center;
  padding-top: 6rem;
  border: 3px solid;
  width: 23vw;
}

header img, h3 {
  padding: 0 4.5rem;
}

h3 {
  font-family: var(--fonte-titulo);
  color: var(--cor-fonte);
  font-size: 2.4rem;
  margin: 5.5rem 0 2rem;
}

hr {
  border: 1.8px solid var(--cor-fonte);
  margin: 0 3rem 8rem;
}

.menu {
  display: grid;
  gap: 3rem;
}

.menu a {
  font-family: var(--fonte-texto);
  color: var(--cor-fonte);
  text-decoration: none;
  font-size: 2.4rem;
}

.menu a:hover {
  scale: 1.1;
  transition: .3s;
}

main {
  padding-top: 6rem;
  text-align: center;
  width: 77vw;
}

main h1 {
  font-family: var(--fonte-titulo);
  color: var(--cor-fonte);
  font-size: 3rem;
  margin-bottom: 7rem;
}

form {
  display: flex;
  gap: 1.5rem;
  padding: 0 35%;
  justify-content: center;
}

label, button {
  font-family: var(--fonte-texto);
  font-size: 2rem;
}

label {
  color: var(--cor-fonte);
  text-shadow: 1px 1px black;
}

input { 
  padding: 0 1rem;
}

/* tira as setas do input tipo number */
input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
}

input, button {
  height: 4rem;
  border-radius: 8px;
  border: none;
  box-shadow: 1.5px 2px rgba(0, 0, 0, 0.5);
}

button {
  padding: 0 11rem;
}

button:hover {
  animation: backGradient 1s forwards;
  scale: 1.02;
}

  @keyframes backGradient {
    0% {
      background: linear-gradient(110deg, #3F72AF 0%, #112D4E 100%);
    }
    
    5% {
      background: linear-gradient(126deg, #3F72AF 0%, #112D4E 100%);
    }
  
    10% {
      background: linear-gradient(148deg, #3F72AF 0%, #112D4E 100%);
    }
  
    15% {
      background: linear-gradient(163deg, #3F72AF 0%, #112D4E 100%);
    }
  
    20% {
      background: linear-gradient(180deg, #3F72AF 0%, #112D4E 100%);
    }
  
    25% {
      background: linear-gradient(198deg, #3F72AF 0%, #112D4E 100%);
    }
  
    30% {
      background: linear-gradient(211deg, #3F72AF 0%, #112D4E 100%);
    }
  
    35% {
      background: linear-gradient(235deg, #3F72AF 0%, #112D4E 100%);
    }
  
    40% {
      background: linear-gradient(266deg, #3F72AF 0%, #112D4E 100%);
    }
  
    45% {
      background: linear-gradient(289deg, #3F72AF 0%, #112D4E 100%);
    }
  
    50% {
      background: linear-gradient(311deg, #3F72AF 0%, #112D4E 100%);
    }
  
    55% {
      background: linear-gradient(333deg, #3F72AF 0%, #112D4E 100%);
    }
  
    60%{
      background: linear-gradient(354deg, #3F72AF 0%, #112D4E 100%);
    }
  
    65%{
      background: linear-gradient(5deg, #3F72AF 0%, #112D4E 100%);
    }
  
    70% {
      background: linear-gradient(19deg, #3F72AF 0%, #112D4E 100%);
    }
  
    80% {
      background: linear-gradient(33deg, #3F72AF 0%, #112D4E 100%);
    }
  
    90% {
      background: linear-gradient(68deg, #3F72AF 0%, #112D4E 100%);
    }
  
    95% {
      background: linear-gradient(90deg, #3F72AF 0%, #112D4E 100%);
    }

    100% {
      background: #173e6b;
    }
  }